/* Global Styles */
$primary-color: #002147; // Dark Blue
$secondary-color: #d0b10b; // Gold
$tertiary-color: #B8860B; // Dark Goldenrod
$quaternary-color: #8B4513; // Saddle Brown
$light-color: #f5f5f518; // White Smoke
$black: #000000; // Black
$transition-time: 0.3s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

html {
margin: 0;
padding: 0;
background: $light-color;
color: $black;
overflow-x: hidden;
background: linear-gradient(45deg, $primary-color, $secondary-color, $tertiary-color, $quaternary-color);
color: $light-color;
background-size: 300% 300%;
background-repeat: no-repeat;
animation: gradientAnimation 16s ease infinite;
font-family: system-ui;
}

html,
app-root,
body {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 0;
  padding: 0;
}


body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #B8860B;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgb(78, 58, 6);
}

body {
  margin: 0;
  padding: 0;
  background: $light-color;
  color: $black;
  overflow-x: hidden;
  background: linear-gradient(45deg, $primary-color, $secondary-color, $tertiary-color, $quaternary-color);
  color: $light-color;
  background-size: 300% 300%;
  background-repeat: no-repeat;
  animation: gradientAnimation 16s ease infinite;
  font-family: system-ui;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  background-color: $light-color;
  padding: 20px;
  letter-spacing: 2px;
  text-shadow: 0 0 4px white;
  a {
    text-decoration: none;
    color: $black;
  }
}

/* Home Section */
.home {
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.section {
  user-select: none;
  color: $black;
  background: $light-color;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  text-shadow: 0 0 4px white;
  text-align: center;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 20px 0;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    height: 4rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        $secondary-color 10%,
        $primary-color 45%,
        $tertiary-color 67%,
        $quaternary-color 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 2em;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(0, 33, 71, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(184, 134, 11, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.05);
  }
  
  .btn:active {
    border: double 4px $primary-color;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: $primary-color;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}

footer {
  user-select: none;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 2px;
  text-shadow: 0 0 4px black;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: $black;
  color: $light-color;
  cursor: pointer;
  transition: background-color $transition-time;

  &:hover {
    background-color: lighten($black, 5%);
  }
}

.stars-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}