<div class="stars-container">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>

<div class="home">
  <header>
    <a href="/home">
      <h1>Geppetto: AI Financial Analysis Dashboard</h1>
    </a>
  </header>

  <div class="section">
    <h2>Unlock Insights with AI</h2>
    <p>Your go-to tool for summarizing financial states and extracting key performance indicators.</p>
    <div class="start">
      <button type="button" class="btn" (click)="triggerFileInput()">
        <strong>Start Analysis</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>
      
        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
      <input type="file" #fileInput accept=".pdf" (change)="onFileSelected($event)" style="display: none;" />
    </div>
  </div>

  <footer>
    <p>&copy; 2024 Geppetto. All rights reserved.</p>
  </footer>
</div>
