<div class="stars-container">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>

<div class="home">
    <div class="container">
      <header>
        <a href="/home">
          <h1>Geppetto: AI Financial Analysis Dashboard</h1>
        </a>
      </header>

      <div *ngIf="loading" class="loading-container">
        <div class="wrapper">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="shadow"></div>
          <div class="shadow"></div>
          <div class="shadow"></div>
        </div>
      </div>
  
      <ng-container *ngIf="!loading">
        <div class="section" *ngIf="companyInfo">
          <img [src]="companyInfo.logo" alt="{{ companyInfo.name }} Logo" class="logo"/>
          <h2 class="company">{{ companyInfo.name }}</h2>
          <p>{{ companyInfo.description }}</p>
        </div>
      
        <div class="section">
          <div class="title">
            <h2>{{ file?.name }}</h2>
            <button class="Documents-btn" (click)="changeFile()">
              <span class="folderContainer">
                <!-- SVGs for the button -->
              </span>
            </button>
            <input type="file" #fileInput accept=".pdf" (change)="onFileSelected($event)" style="display: none;" />
          </div>
        </div>
  
        <div class="section" *ngIf="file">
          <div class="start">
            <button type="button" class="btn" (click)="generateSummary()">
              <strong>Generate Summary</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
            <button type="button" class="btn" (click)="analyzeSentiment()">
              <strong>Sentiment Analysis</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
            <button type="button" class="btn" (click)="analyzeData()">
              <strong>Analyze Data</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
          </div>
        </div>
      </ng-container>
  
      <footer>
        <p>&copy; 2024 Geppetto. All rights reserved.</p>
        <!-- <button (click)="sendPrompt('Hello CLaude')">blabla</button> -->
      </footer>
    </div>
  </div>
  